* {
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

#pageTitle{
    text-align: center;
}

#gridContainer{
    display: grid;
    margin: 2em;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em 3em;
    grid-auto-rows: minmax(40vh, auto); /*visina svakog diva*/
    
}

#gridContainer > .gridChild{
    background:#eee;
    padding: 1rem;
}

/* every odd div has different background color */
#gridContainer > .gridChild:nth-child(odd){
    background:#ddd;
}

/* everything inside div is displayed as a grid*/
.gridChild{
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 15% 55% 30%;
    grid-auto-rows: minmax(1vh, auto);
    box-shadow: 15px 15px 15px 0px #6c7378;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
}

.newsImage, .newsName{
    align-self: center;
    justify-self: center;
}

.newsDescription{
    align-self: center;
    justify-self: start;
    margin: .5em;
}

.newsImage{
    width: 100%;
    height: 100%;
    
}

a:hover {
    opacity: 0.5;
    /*shrink animation*/
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}