body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#next,#prev{
    border: none;
    background-color: green;
    font-size: 30px;
    outline: none;
    pointer-events: none; /* want only evenet for pseudo(right and left)*/
}
.fa-chevron-right:before {
    cursor: pointer;
    pointer-events: all;
}
.fa-chevron-left:before {
    cursor: pointer;
    pointer-events: all;
}


main{
    width: 60%;
    display: flex;
    background-color: green;
    height: 30vw;
}
.slider {
    height: 95%;
    display: flex;
    width: 95%;
    padding: 0;
    overflow:hidden;
    background-color: green;
    
}
.slider .visibleslide{

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 94%;
    display: flex;
    margin: 3%;
    height: 94%;
}
.visibleslide .item {

    width: 31%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position:100%,100%;
}

.title {
    font-size: 20px;
    color: white;

}
