* {
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}
#sidebarContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: center;
}
aside {
  width: 100%;
  padding-left: .5rem;
  margin: 0 .5rem .2rem .2rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
  z-index: 1;
  overflow: auto;
  overflow-x: hidden; 
  border: 1px solid blue;
}
aside > div {
  margin: .5rem;
}
div {
  font-family: 'Fira Sans', sans-serif;
}
.divClass{
  background-color: lightgrey;
  padding: .2rem;
  margin: .5rem;
}

.bestNews .imgBestNews{
  margin-right: .5rem;   
  width: 50%;
  height: 100%;
}

.imgBestNews{
    transition: transform .1s ease;
}

.imgBestNews:hover {
  opacity: 0.7;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);    
  -ms-transform: scale(0.9);    
  transform: scale(0.9);
}

.bestNews:hover{
  text-shadow: 1px 1px 1px #888;
}

.bestNews{
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

/* The Modal (background) */
.modalWindow {
  display: none; 
  position: fixed; 
  z-index: 16; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color:#696969; 
  
}

/* Modal Content */
.modalContent {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  margin-top: 5vh;
  margin-top: 5vh;
  padding: 0;
  border: 1px solid #888;
  max-width: 90vw;
  height: 90vh;
  text-align: center;
  box-shadow: 5px 10px 8px #000000;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; 
  animation-timing-function: ease-out;
}

#modalHeader{
    margin-top: 1.5rem ;
    margin-bottom:1.5rem;
    text-shadow:  2px 2px 2px #4D4C4F;
} 

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.closeX {
  color: lightgrey;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeX:hover,
.closeX:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
}

.modal-body {
  position: relative;
  width: 90%;
  max-height: 90%;
  display: grid;
  grid-template-rows: 10% 45% 45%;
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
  padding: 2px 16px;
  margin: 0 1.5rem 0 1.5rem;
}

#modalImage > #modalImg{
  width: auto;
  height: 100%;
}
#modalTitleInfo > p{
  margin-block-start:0em;
  margin-block-end:0em;
}

#modalTitleInfo{
  display: grid;
  align-items: center;
  background-color: #f9f9f9;
  margin-top: 1em;
  margin-left: 2em;
  padding-right: 2em;
  box-shadow: 10px 10px 8px #f3f3f3;
}

#modalTitle{
  display: flex;
  align-items: center;
  padding: 1em;
}

#modalImg{
  box-shadow: 10px 10px 8px #696969;
}

#modalImage{
  margin-top: 1em;
}

#modalNewsAuthor, #modalNewsDescription, #modalNewsUrl, #modalNewsDate{
  text-align: justify;
  margin-left: 3em;
}

h5 {
  margin-block-start: 0;
  margin-block-end: 0;
}
 h3{
  text-align: center;
}

/*End of the modal*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #sidebarContainer {display:none;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #sidebarContainer {display:none;}
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #sidebarContainer {display: block;}
}