body{
    margin:0;
    padding: 0;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 100px;
    padding-top: 100px;
  }
  

/*Header and footer*/
.logo {
    height: 70px;
    width: auto;
    transition: transform .2s;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 30px;
  }

  .navbar-brand {
    padding: 40px 50px;
    height: 75px;
    width: 150px;
  }
  
  .logo:hover {
    transform: scale(1.2); 
  }
  
  .navbar {
    overflow: visible;
    background-color: #333;
    font-family: Arial;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 10;
  }
  
   .footer {
    overflow: hidden;
    font-family: Arial;
    height: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FF7F50;
    text-align: center;
  }
  
  .footer-content a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 25px 35px;
    text-decoration: none;
  }

  .footer-content a:hover {
    opacity: 0.5;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 25px 35px;
    text-decoration: none;
    transition: all .5s ease;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 0px 0px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: all .5s ease;
  }
  
  .navbar a:hover, .dropdown:hover, .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: all .2s ease;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  @keyframes menu {
    0%   {background-color: #fff;}
    25%  {background-color: #ddd;}
    50%  {background-color: #fff;}
    100% {background-color: #ddd;}
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    animation-name: menu;
    animation-duration: .5s;
  }
  
  .navbar .current {
    background-color: red;
    color: #333;
    font-weight: bold;
  }
  
  /*----------------------*/

  @media screen and (max-width: 500px) {
    .navbar {
      width: 100%;
      height: auto;
      overflow: visible;
      position: relative;
      float: none;
      display: block;
      text-align: left;
    }
    .navbar a {
      float: none;
      display: block;
      text-align: left;
    }

    .dropdown {
      float: none;
      overflow: hidden;
      display: block;
      text-align: left;
    }
    
    .footer {
      width: 100%;
      height: auto;
      float: left;
      display: block;
      text-align: left;
      overflow: visible;
    }
  }
  