
#next,#prev{
    border: none;
    background-color: white;
    color: black;
    font-size: 40px;
    outline: none;
    pointer-events: none; /* want only evenet for pseudo(right and left arrow)*/
}
.fa-chevron-right::before {
    cursor: pointer;
    pointer-events: all;
}
.fa-chevron-left::before {
    cursor: pointer;
    pointer-events: all;
}


main{
    width: 90%;
    display: flex;
    background-color: white;
    height: 45vh;
}
.slider {
    height: 95%;
    display: flex;
    width: 95%;
    padding: auto;
    overflow:hidden;
    background-color: white;
    
}
.slider .visibleslide{

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    display: flex;
    height: 100%;
    margin:auto,0,auto,0;
}
.visibleslide .item {

    width: 31%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center,center;
    display: grid;
    grid-template-rows: 10%,auto,2%;
    grid-template-columns: 100%;
}
@media only screen and (max-width: 500px){

    .visibleslide .item{
    }
}

@media only screen and (max-width: 717px){

    .visibleslide .item{
        width: 100%;
    }
}
.title {
    font-size: 20px;
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-row: 2/3;
    text-align: center;


}
.readmorebtn{
    height: 20px;
    margin-top: auto;
    margin-bottom: 10px;
    width: 40%;
    grid-row: 3/4;
    margin-right: auto;
    margin-left: auto;
    border: none;
    outline: none;
    background-color: black;
    color: wheat;
    cursor: pointer;
    
}
.readmorebtn:hover{
    opacity: 0.8;
}
section{
    width:90% ;

}
@media only screen and (max-width: 991px){
    section{
        margin-left: auto;
        margin-right: auto;
    }
    main{
        
        margin-left: auto;
        margin-right: auto;
    }
}
.toprated{
    margin-left: 20px;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    row-gap: 20px;
}
@media only screen and (max-width: 768px){

     .toprated{
         grid-template-columns: 50% 50%;
     }
}
@media only screen and (max-width: 500px){

    .toprated{
        grid-template-columns: 100%;
    }
}
.toprated .item2{
    width: 90%;
    display:flex;
    flex-direction:row;
}
.toprated  .item2 img{
    margin-top: auto;
    width:30%;
    height: 100px;
    margin-bottom: auto;
    transition: 1s;
    
}
.toprated .item2 img:hover{
    cursor: pointer;
    opacity: 0.8;
    width: 33%;
}
.toprated .item2 .rightpart{
    width:65%;
    display:flex;
    flex-direction:column;
    margin-left: 10px;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 15px;

}
.toprated .item2 .rightpart p{
    margin: 0px;
    padding: 0px;
}
.loadmore{
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
    align-self: flex-end;
    justify-self: flex-end;
}

/*model window */


@keyframes blowUpContent {
    0% {
      transform:scale(1);
      opacity:1;
    }
    99.9% {
      transform:scale(2);
      opacity:0;
    }
    100% {
      transform:scale(0);
    }
  }


  @keyframes blowUpModal {
    0% {
      transform:scale(0);
    }
    100% {
      transform:scale(1);
    }
  }





.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 20; /* Sit on top */

    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(165, 32, 32); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
    animation: blowUpModal .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  }

  
  
  /* Modal Content */
  .modal-content {
    width: 95vw;
    height: 95vh;
    background-color: #fefefe;
    margin:auto;
    margin-top: 2.5vh;
    border: 1px solid #888;
    display: flex;
    flex-direction: column;

    
  }



  .model-title{
    text-align: center;
    width:50%;
    font-size: 25px;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
}
.model-img{
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.model-img img {
    width: 100%;
    height: 100%;
}
.model-author{
    text-align:right;
    padding-right:40px;
}
.model-cont{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    font-size: 20px;
}
@media only screen and (max-width: 1000px){

    .model-img{
        width: 200px;
        height: 200px;
    }
}
@media only screen and (max-width: 768px){

    .model-title{
        font-size: 20px;
    }
    .model-cont{
        font-size: 15px;
    }
}
@media only screen and (max-width:  500px){

    .model-title{
        font-size: 15px;
    }
    .model-cont{
        font-size: 15px;
    }
    .modal-img{
        width: 30%;
        height: 20%;
    }
}
.model-moreinfo{
    
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  text-align: right;
  margin-right: 20px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




  