body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#next,#prev{
    border: none;
    background-color: white;
    color: black;
    font-size: 40px;
    outline: none;
    pointer-events: none; /* want only evenet for pseudo(right and left arrow)*/
}
.fa-chevron-right::before {
    cursor: pointer;
    pointer-events: all;
}
.fa-chevron-left::before {
    cursor: pointer;
    pointer-events: all;
}


main{
    width: 80%;
    display: flex;
    background-color: white;
    height: 50vh;
}
.slider {
    height: 95%;
    display: flex;
    width: 95%;
    padding: auto;
    overflow:hidden;
    background-color: white;
    
}
.slider .visibleslide{

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    display: flex;
    height: 100%;
    margin:auto,0,auto,0;
}
.visibleslide .item {

    width: 31%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center,center;
    display: grid;
    grid-template-rows: 10%,auto,2%;
    grid-template-columns: 100%;
}

.title {
    font-size: 20px;
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-row: 2/3;
    text-align: center;


}
.readmorebtn{
    height: 20px;
    margin-top: auto;
    margin-bottom: 10px;
    width: 40%;
    grid-row: 3/4;
    margin-right: auto;
    margin-left: auto;
    border: none;
    outline: none;
    background-color: black;
    color: wheat;
    cursor: pointer;
    
}
.readmorebtn:hover{
    opacity: 0.8;
}
.toprated{
    width: 80%;
    border: 1px solid black;
    height: auto;
}
.toprated .row{
    margin-top: 40px;
    display: flex;
    height: 15vh;
    justify-content: space-around;

}
.toprated .row .item2{
    width: 30%;
}
