
.footer {
    position: fixed;
}




.inputtext{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    margin-top: 160px;


}
.inputtext :first-child{
    width: 80%;
    height: 70%;
}
.inputtext :last-child{
    margin-left:3%;
    width: 10%;
    height: 70%;
}


.filter{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 80px;
    background-color:  white;
    color: black;
    padding: 10px;
}
#date{
    margin-top: 0px;
    margin-bottom: auto;
}
.main{
    height: 40vh;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    column-gap: 20px;

}
.item{
    display: flex;
    border: 1px solid rgb(63, 61, 61);
}
.item .image{
    width:30%;
}
.rightside{
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: auto;
}

.rightside p{
   
    margin: 0;
    padding: 0;
}
.nums{
    width: fit-content;
    display: grid;
    grid-template-columns: 50px auto 50px;
    margin-left: auto;
    margin-right: auto;

}
.prev{
    margin-right: 20px;
    cursor: pointer;
    grid-column: 1/2;
    text-align: right;
    grid-row: 1/2;
}
.next{
    margin-left: 20px;
    cursor: pointer;
    grid-column: 3/4;
    grid-row: 1/2;
}
.numbtn{
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
    width: auto;
}
.numbtn p{
    margin-left: 5px;
    cursor: pointer;
}