



.inputtext{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    margin-top: 160px;


}
.inputtext :first-child{
    width: 80%;
    height: 70%;
}
.inputtext :last-child{
    margin-left:3%;
    width: 10%;
    height: 70%;
}


.filter{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 80px;
    background-color:  white;
    color: black;
    padding: 10px;
}
#date{
    margin-top: 0px;
    margin-bottom: auto;
}
.main{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: -100px;
    column-gap: 20px;
    height: 40vh;

}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#listHeading{
    margin:10rem 13rem .5em 13rem;
    border: 5px groove;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
div > #form{
    position: relative;
    bottom: 8rem;
    margin: 1em;
}
@media only screen and (max-width: 900px){
  
    .main{
        width: 90%;
    }

    .filter{
        width: 80%;
        margin-bottom: 50px;
    }
    .inputtext{
        width: 80%;
    }
    .radio{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 700px){
   
    .main{
        grid-template-columns:100%;
        row-gap: 10px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .inputtext :first-child{
        width: 50%;
    }
    .inputtext :last-child{
        width: 30%;
    }
}


.item{
    display: flex;
    border: 1px solid rgb(63, 61, 61);
}
.item .image{
    width:30%;
}
@media only screen and (max-width: 500px){
    
    .inputtext{
        margin-top: 40px;
    }
    img{
        height: 150px;
        margin-top: auto;
        margin-bottom: auto;
    }
}
.rightside{
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: auto;
}
@media only screen and (min-width: 800px){
  
    #listHeading{
        margin:200px auto  10px auto;
        border: 5px outset;
        text-align: center;
    }
    .rightside{
        padding-top: 25px;
    }
}
    
.rightside p{
   
    margin: 0;
    padding: 0;
}
.nums{
    width: fit-content;
    display: grid;
    grid-template-columns: 50px auto 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;

}
.prev{
    margin-right: 20px;
    cursor: pointer;
    grid-column: 1/2;
    text-align: right;
    grid-row: 1/2;
}
.next{
    margin-left: 20px;
    cursor: pointer;
    grid-column: 3/4;
    grid-row: 1/2;
}
.numbtn{
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
    width: auto;
}
@media only screen and (max-width: 700px){
 
    #listHeading{
        margin:10rem 5rem .5em 5rem;
        border: 5px outset;
        text-align: center;
    }
    .numbtn{
        display: none;
    }
}
@media only screen and (max-width: 500px){
  
    #listHeading{
        margin:50px auto auto auto;
        border: 5px outset;
        text-align: center;
    }
    .numbtn{
        display: none;
    }
    #form{
        top: 1rem;
    }
}
.numbtn p{
    margin-left: 5px;
    cursor: pointer;
}
@media only screen and (max-width: 500px){
  
    .main{
        margin-top: 30px;
    }
}
